body{
    background: #720418;
}

.logo{
width: 200px;
height: 200px;
margin-left: 50px;

}

.admin-login{
    width: 400px;
height: 350px;
flex-shrink: 0;
 box-sizing: border-box;
align-items: center;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
border: 1px solid #CECECE;
background: #FFF;
justify-content: center;
}

h2{
box-sizing: border-box;
text-align: center;
display: flex;
flex-direction: row;
width: 300px;
height: 81px;
color: #000;
justify-content: center;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.user{
box-sizing: border-box;
width: 350px;
height: 40px;
padding: 20px;
margin: 10px;
border: 1px solid #CECECE;
background: #FFF;
}

button{
width: 350px;
height: 50px;
flex-shrink: 0;
border-radius: 5px;
margin-top: 45px;
color: white;
border: 1px solid #CECECE;
background: #E16A00;
}






@media only screen and (max-width: 391px){
  
    
    .logo{
        width: 150px;
        height: 100px;  
    }
    
    .admin-login{
    width: 230px;
    height: 300px;
     box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    h2{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    
    .user{
    box-sizing: border-box;
    width: 190px;
    height: 40px;
 
    }
    
    button{
    width: 193px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
   
    }
}
@media (min-width: 391px) and (max-width: 500px){
    
    
    .logo{
        width: 200px;
        height: 150px;
        flex-shrink: 0;
    
    }
    
    .admin-login{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 
    }
    
    h2{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;   
    }
    
    .user{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
   
    }
    
    button{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    border: 1px solid #CECECE;
    background: #E16A00;
    }
}
@media (min-width: 501px) and (max-width: 768px){}
@media (min-width: 769px) and (max-width: 992px){}
@media (min-width: 993px) and (max-width: 1125px){}